html{
  overflow-y: scroll;
}

body{
  margin: 0px;
  padding: 0 !important;
  background-image: url("img/bgblack.jpg");
  /*filter: blur(5px);*/
}

.modal{
  width: 50%;
  max-height: 100% !important;
  overflow: visible;
}

.modal-header{
  overflow: hidden;
}
