html {
  overflow: scroll;
}

a, a:hover {
	color: white;
}

body {
  margin: 0;
  padding: 0 !important;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1cm;
  -webkit-text-size-adjust: auto;
  /*-webkit-filter: blur(5px);*/
  overflow: scroll;
  /*background: no-repeat;*/
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

/* Loading page animation */
#loader {
	/* position: absolute; */
	left: 52%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	margin-top: 50px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
	display: none;
}

#modal1 {
	max-width: 100%;
	max-height: 100%;
}

#sharingmodal {
	max-width: 100%;
	max-height: 100%;
}

.modal-header {
	max-width: 100%;
	max-height: 100%;
	background-color: white;
}

.modal-content {
	background-color: rgb(79, 46, 134);
	padding: 100px;
}

.bar {
	padding-top: 10px;
}

.btn-block {
	background-color: rgb(79, 46, 134);
	color: white;
	font: 17px arial, sans-serif;
	position: absolute;
	text-align: center;
	font-style: normal;
	height: 50px;
	width: 380px;
	margin-left: -170px;
	margin-top: 20px;
	border: 0.5px solid;
	padding: 10px;
	margin-bottom: 50px;
}

.btn-block:hover {
	cursor:pointer;
	opacity: 0.9;
	box-shadow: inset 0 0 0 2em var(--hover);
	box-shadow: 2px 5px 5px #a09fa5;
}

.btn-block:hover, .btn-block:focus {
	box-shadow: inset 0 0 0 2em var(--hover);
	box-shadow: 2px 5px 5px #a09fa5;
	margin-bottom: 50px;
}

.overlay {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	opacity: 0px;
	transition: .5s ease;
	background-color: rgb(79, 46, 134);
}

.modal {
  overflow: visible;
  text-indent: 62px;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 10px;
  max-height: 100% !important;
  padding-left: -50px;
  box-shadow: 2px -1px 1px 3px #4f5660;
}

span.socialbutton {
	display: none;
}

span.socialbutton:hover {
	cursor: pointer;
	opacity: 0.9;
	box-shadow: 3px 3px 3px #222;
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	margin-top: auto;
	margin-left: auto;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#logo {
	/* position: absolute; */
	width: 250px;
	height: 250px;
	margin-left: 600px;
	margin-top: 50px;
	width: auto;
	max-width: 100%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 100% !important;
	max-width: 100%;
	margin-left: -10px;
	margin-right: 70px;
	margin: 0;
}

.modal-content .about {
	color: white;
	text-indent: -180px;
	/*text-align-last: start;*/;
	padding: 10px;
	text-align: center;
}

.modal-body {
	margin-left: -30px;
}

.globe {
	color: grey;
	opacity: 1.0;
	margin-top: 20px;
}

.globe:hover {
	opacity: 0.7;
	text-shadow: 5px 5px 5px #a09fa5;
}

.facebook {
	color: #2e4ec1;
	opacity: 1.0;
}

.facebook:hover {
	opacity: 0.7;
	text-shadow: 5px 5px 5px #a09fa5;
}

.instagram {
	color: #f4427a;
	opacity: 1.0;
}

.instagram:hover {
	opacity: 0.7;
	text-shadow: 5px 5px 5px #a09fa5;
}

.icon1 {
	margin-left: 8.5px;
}

.icon2 {
	margin-left: 12px;
}

.icon3 {
	margin-left: 8px;
}

.icon4 {
	margin-left: -102px;
}

.icon5 {
	margin-left: -103px;
}

.icon6 {
	margin-left: -105px;
}

h3.modal-title {
	margin-left: 80px;
	text-align: center;
}

h4 {
	font-size: 26px;
	margin-left: 67px;
}

.description {
	padding-right: 120px;
	text-align: center;
	text-algin-last: left;
}

h5 {
	margin-top: -5px;
	font-size: 16px;
	color: rgb(193, 200, 204);
	text-align: center;
	text-align-last: initial;
}

h6 {
	font: 17px arial, sans-serif;
}

i {
	margin-right: 20px;
}

#modal1 .modal-header {
	overflow: hidden;
	padding: 0;
}


/* Start of social media sharing animation */
	.image-effect-circle{
      width: 500px;
      height: 300px;
      overflow: hidden;
      position: relative;
      margin-left: -25px;
      background-color: rgba(0,0,0,0.2);
    }


    .image-effect-circle img{
      position: absolute;
      left: 0;
      top:0;

      -webkit-transition: 0.4s 1s;
      transition: 0.4s 1s;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }

    .image-effect-circle:hover img{
      -webkit-filter: blur(1px) saturate(2.5);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }


    .image-effect-circle .share-layer{
      width: 400px;
      height: 400px;
      border-radius: 50%;
      left:50px;
      top:300px;
      position: absolute;
      background-color: rgba(255,255,255, 0.8);
      -webkit-transition: 0.4s 1s;
      transition: 0.4s 1s;
      z-index: 1;
    }

    .image-effect-circle:hover .share-layer{
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      transform: translateY(-350px);
      -webkit-transform: translateY(-350px);
    }


    .image-effect-circle .share-button {
      position: absolute;
      display: block;
      width: 70px;
      height: 70px;
      border-radius: 50%;

      text-decoration: none;
      color: #ffffff;
      line-height: 70px;
      font-size: 32px;
      text-align: center;

      left: 50%;
      margin-left: -25px;
      top: 50%;
      margin-top: -25px;
      opacity: 0;
    }

    .image-effect-circle .share-via-facebook{
      -webkit-transition: 0.4s 0.6s;
      transition: 0.4s 0.6s;
      background-color:#3b5998;
    }

    .image-effect-circle .share-via-twitter{
      -webkit-transition: 0.4s 0.4s;
      transition: 0.4s 0.4s;
      background-color:#00aced;
    }

    .image-effect-circle .share-via-google{
      -webkit-transition: 0.4s 0.2s;
      transition: 0.4s 0.2s;
      background-color:#d34836;
    }

    .image-effect-circle:hover .share-via-facebook {
      -webkit-transition: 0.4s 0.4s;
      transition: 0.4s 0.4s;

      -webkit-transform: translate(-80px, -60px);
      transform: translate(-80px, -60px);

      opacity: 1;
    }

    .image-effect-circle:hover .share-via-twitter {
      -webkit-transition: 0.4s 0.6s;
      transition: 0.4s 0.6s;

      -webkit-transform: translate(80px, -60px);
      transform: translate(80px, -60px);

      opacity: 1;
    }

    .image-effect-circle:hover .share-via-google {
      -webkit-transition: 0.4s 0.8s;
      transition: 0.4s 0.8s;

      -webkit-transform: translate(0, 60px);
      transform: translate(0, 60px);

      opacity: 1;
    }
/* End of social media sharing animation */


span.image-layer {
	width: 300px;
	position: absolute;
	align: right;
	margin-left: 33px;
}


/* Start of media queries */
/* TODO: Implement media queries for mobile devices, loading screen, and sharing modal */
@-ms-viewport {
	width: device-width;
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
	.image-effect-circle {
		margin-left: -70px;
	}

	span.image-layer {
		margin-left: 20px;
	}

	h3.modal-title {
		margin-left: 25px;
		text-align: center;
	}
}

@media only screen and (min-width: 450px) and (max-width: 500px) {
	.image-effect-circle {
		margin-left: -50px;
	}

	span.image-layer {
		margin-left: 20px;
	}

	h3.modal-title {
		margin-left: 70px;
		text-align: center;
	}
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
	#modal1 .modal {
		overflow-y: auto;
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto;
		max-height: 300px;
		max-width: 500px;
	}

	#sharingmodal {
		overflow-y: auto;
		position: relative;
		max-height: 400px;
		max-width: 100%;
	}

	h4 {
		position: relative;
		font-size: 23px;
		margin-left: 165px;
	}

	h5 {
		position: relative;
		font-size: 15px;
		text-align: none;
		margin-left: 30px;
	}

	.margin-body {
		margin-right: -100px;
	}

	.btn-block {
		margin-left: -80px;
		display: none;
	}

	span.socialbutton {
		display: inline;
		padding-bottom: 50px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 450px) and (max-width: 500px) {
	#modal1 .modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		font-size: 23px;
		margin-left: 165px;
	}

	h5 {
		position: relative;
		font-size: 15px;
		margin-left: 40px;
	}

	.margin-body {
		margin-right: -100px;
	}

	.btn-block {
		margin-left: -80px;
		display: none;
	}

	span.socialbutton {
		display: inline;
		padding-bottom: 50px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
	#modal1 .modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		font-size: 23px;
		margin-left: 165px;
	}

	h5 {
		position: relative;
		font-size: 15px;
		text-align: center;
		text-align-last: initial;
		margin-left: 40px;
	}

	.margin-body {
		margin-right: -100px;
	}

	.btn-block {
		margin-left: -80px;
		display: none;
	}

	span.socialbutton {
		display: inline;
		padding-bottom: 50px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 550px) and (max-width: 580px) {
	#modal1 .modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 90px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
		margin-left: 1px;
	}

	#modal1 .modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -90px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 580px) and (max-width: 600px) {
	#modal1 .modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 90px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
		margin-left: 1px;
	}

	#modal1 .modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -105px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 640px) {
	#modal1 .modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 70px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
	}

	#modal1 .modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -130px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 670px) {
	#modal1 .modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 70px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
		padding-left: 20px;
	}

	#modal1 .modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

@media only screen and (min-width: 670px) and (max-width: 750px) {
	#modal1 .modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	#modal1 .modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 70px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
	}

	#modal1 .modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

@media only screen and (min-width: 750px) and (max-width: 768px) {
	h4 {
		padding-left: 50px;
	}

	h5 {
		padding-left: 25px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	h4 {
		padding-left: 50px;
	}

	h5 {
		padding-left: 25px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
