html {
  overflow-y: scroll;
}

a, a:hover {
	color: white;
}

body {
  margin: 0;
  padding: 0 !important;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1cm;
  -webkit-text-size-adjust: auto;
  /*-webkit-filter: blur(5px);*/
  overflow: scroll;
  /*background: no-repeat;*/
}

img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#modal1 {
	max-width: 100%;
	max-height: 100%;
}

.modal-header {
	max-width: 100%;
	max-height: 100%;
}

.modal-content {
	background-color: rgb(79, 46, 134);
	padding: 100px;
}

.btn-block {
	background-color: rgb(79, 46, 134);
	color: white;
	font: 17px arial, sans-serif;
	position: absolute;
	text-align: center;
	font-style: normal;
	height: 50px;
	width: 380px;
	margin-left: -170px;
	margin-top: 20px;
	border: 0.5px solid;
	padding: 10px;
	margin-bottom: 50px;
}

.btn-block:hover {
	cursor:pointer;
	opacity: 0.9;
	box-shadow: inset 0 0 0 2em var(--hover);
	box-shadow: 2px 5px 5px #a09fa5;
}

.btn-block:hover, .btn-block:focus {
	box-shadow: inset 0 0 0 2em var(--hover);
	box-shadow: 2px 5px 5px #a09fa5;
	margin-bottom: 50px;
}


.overlay {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	opacity: 0px;
	transition: .5s ease;
	background-color: rgb(79, 46, 134);
}

.modal {
  overflow: visible;
  text-indent: 62px;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 10px;
  max-height: 100% !important;
  padding-left: -50px;
  box-shadow: 2px -1px 1px 3px #4f5660;
}

span.socialbutton {
	display: none;
}

span.socialbutton:hover {
	cursor: pointer;
	opacity: 0.9;
	box-shadow: 3px 3px 3px #222;
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.text {
	color: white;
	font-size: 20px;
	position: absolute;
	margin-top: auto;
	margin-left: auto;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

#header {
	width: 100% !important;
	max-width: 100%;
	margin-left: -10px;
	margin-right: 70px;
	margin: 0;
}

.modal-content .about {
	color: white;
	text-indent: -180px;
	/*text-align-last: start;*/;
	padding: 10px;
	text-align: center;
}

.modal-body {
	margin-left: -30px;
}

.globe {
	color: grey;
	opacity: 1.0;
	margin-top: 20px;
}

.globe:hover {
	opacity: 0.7;
	text-shadow: 5px 5px 5px #a09fa5;
}

.facebook {
	color: #2e4ec1;
	opacity: 1.0;
}

.facebook:hover {
	opacity: 0.7;
	text-shadow: 5px 5px 5px #a09fa5;
}

.instagram {
	color: #f4427a;
	opacity: 1.0;
}

.instagram:hover {
	opacity: 0.7;
	text-shadow: 5px 5px 5px #a09fa5;
}

.icon1 {
	margin-left: 10px;
}

.icon2 {
	margin-left: 15px;
}

.icon3 {
	margin-left: 11px;
}

ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				/*display: inline-block;*/
				padding: 0 0.75em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li a {
					border-radius: 100%;
					shadow: inset 0 0 0 1px #ffffff;
					/*display: inline-block;*/
					height: 2.25rem;
					line-height: 2.25rem;
					text-align: center;
					width: 2.25rem;
				}

/*
.modal-body ul.links {
	cursor: default;
	list-style: none;
	padding-left: 0px;
}

.modal-body ul.links li {
	padding: 0 0.75em 0 0;
}

.modal-body ul.links li:last-child {
	padding-right: 0px;
}
*/

/*
.modal-body ul.links li a {
	border: 1px solid grey;
	border-radius: 100%;
	box-shadow: inset 0 0 0 1px #ffffff;
	height: 2.5rem;
	line-height: 2.5rem;
	text-align: center;
	width: 2.5rem;
}
*/

/*
#globe {
	border-radius: 100%;
	border: 1px grey;
	box-shadow: inset 0 0 0 1px #ffffff;
	height: 2.5rem;
	line-height: 2.5rem;
	width: 2.5rem;
	background-color: grey;
	text-align: center;
	vertical-align middle;
	padding: 10px;
}

#facebook {
	border-radius: 100%;
	border: 1px grey;
	box-shadow: inset 0 0 0 1px #ffffff;
	height: 2.5rem;
	line-height: 2.5rem;
	width: 2.5rem;
	background-color: blue;
	text-align: center;
	vertical-align middle;
	padding: 30px;
}

#instagram {
	border-radius: 100%;
	border: 1px grey;
	box-shadow: inset 0 0 0 1px #ffffff;
	height: 2.5rem;
	line-height: 2.5rem;
	width: 2.5rem;
	background-color: pink;
	text-align: center;
	vertical-align middle;
	padding: 30px;
}
*/

/*
.modal-body ul.links li a:hover {
	background-color: rgba(255, 255, 255, 0.075);
}

.modal-body ul.links li a:active {
	background-color: rgba(255, 255, 255, 0.175);
}
*/

h4 {
	font-size: 26px;
	margin-left: 67px;
}

.description {
	padding-right: 120px;
	text-align: center;
	text-algin-last: left;
}

h5 {
	margin-top: -5px;
	font-size: 16px;
	color: rgb(193, 200, 204);
	text-align: center;
	text-align-last: initial;
}

h6 {
	font: 17px arial, sans-serif;
}

i {
	margin-right: 20px;
}

.modal-header {
	overflow: hidden;
	padding: 0;
}

/* Start of media queries */

@-ms-viewport {
	width: device-width;
}

@media only screen and (min-width: 400px) and (max-width: 450px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 500px;
	}

	h4 {
		position: relative;
		font-size: 23px;
		margin-left: 165px;
	}

	h5 {
		position: relative;
		font-size: 15px;
		text-align: none;
		margin-left: 30px;
	}

	.margin-body {
		margin-right: -100px;
	}

	.btn-block {
		margin-left: -80px;
		display: none;
	}

	span.socialbutton {
		display: inline;
		padding-bottom: 50px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 450px) and (max-width: 500px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		font-size: 23px;
		margin-left: 165px;
	}

	h5 {
		position: relative;
		font-size: 15px;
		margin-left: 40px;
	}

	.margin-body {
		margin-right: -100px;
	}

	.btn-block {
		margin-left: -80px;
		display: none;
	}

	span.socialbutton {
		display: inline;
		padding-bottom: 50px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 500px) and (max-width: 550px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		font-size: 23px;
		margin-left: 165px;
	}

	h5 {
		position: relative;
		font-size: 15px;
		text-align: center;
		text-align-last: initial;
		margin-left: 40px;
	}

	.margin-body {
		margin-right: -100px;
	}

	.btn-block {
		margin-left: -80px;
		display: none;
	}

	span.socialbutton {
		display: inline;
		padding-bottom: 50px;
		padding-right: 15px;
	}
}

@media only screen and (min-width: 550px) and (max-width: 580px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 90px;
		text-align: center;

	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
		margin-left: 1px;

	}

	.modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -90px;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 580px) and (max-width: 600px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 90px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
		margin-left: 1px;
	}

	.modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -105px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 640px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 70px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
	}

	.modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -130px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 670px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 70px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
		padding-left: 20px;
	}

	.modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

@media only screen and (min-width: 670px) and (max-width: 750px) {
	.modal {
		overflow-y: auto:
		position: relative;
		max-height: 4000px;
		max-width: 100%;
	}

	.modal-content {
		overflow-y: auto:
		max-height: 300px;
		max-width: 1500px;
	}

	h4 {
		position: relative;
		padding-left: 70px;
		text-align: center;
	}

	h5 {
		position: relative;
		text-align: center;
		text-align-last: initial;
	}

	.modal-body {
		margin-left: -30px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

@media only screen and (min-width: 750px) and (max-width: 768px) {
	h4 {
		padding-left: 50px;
	}

	h5 {
		padding-left: 25px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	h4 {
		padding-left: 50px;
	}

	h5 {
		padding-left: 25px;
	}

	.btn-block {
		margin-left: -140px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
